{% extends 'webtool/base.html' %}

{% block content %}

{% include 'webtool/nav.html' %}
<div class="search ">
    <!-- <span>Search</span> -->
    <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <!-- <button class="btn btn-primary" type="button">Search</button> -->
    </form>
</div>


<div class="divnin">
    <div class="div-category" style="overflow-y: scroll;">
        <h3>Categories</h3>
        {%if categories %}
        {%for category in categories %}
        <p> <a href="">{{category.name}}</a> </p>

        {%endfor%}
        {%else%}
        {%endif%}

    </div>
    <!-- <div class="div-tool" style="height: auto;">
        <h3>Tools</h3>
        {%if tools %}

        {% for tool in tools%}

        <div class="mb-2 " style=" 
                    border-top: 1px solid #ebebeb;;
                    border-left: 1px solid #ebebeb;;
                    border-right: 1px solid #ebebeb;;
                    border-radius: 5px 5px 0px 0px;
                    padding: 2px 2px 0px 5px; 
                    display: flex;
                    background-color: #fff;
                    ">

            <div style="margin: 5px 20px 20px 0;">
                <img src="{{tool.image.url}}" alt="" width="200" height="100">

            </div>
            <div>
                <a href="{% url 'tool_detail_for_anonymous_user' tool.id %}">{{tool}}</a>
                <p>
                    <span>{{tool.description}} Readmore...</span>
                    <span>(Posted By {%if tool.owner%}{{tool.owner}} {%else%} N/A{%endif%} |)</span>
                </p>
                <i class="fa-sharp fa-solid fa-heart"></i>
            </div>
            

        </div>

        {% endfor%}

        {%endif%}

    </div> -->

    <div class="div-tool" style="height:auto; width: 58%;">
        <div style="display: flex; justify-content: space-between;">
            <h3>Tools</h3>
            <a href=""><button type="button" class="btn btn-info">Create Tool</button></a>
        </div>

        {%if tools %}

        {% for tool in tools%}

        <div class="container py-0">
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="{{tool.image.url}}" class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5><a href="{% url 'tool_detail_for_anonymous_user' tool.id %}">{{tool}}</a></h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>310</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>PostedBy {%if tool.owner%}{{tool.owner}} {%else%} N/A{%endif%}</span>
                                        <span class="text-primary"> • </span>
                                        <span>Light weight</span>
                                    </div>

                                    <p class="text-truncate mb-4 mb-md-0">
                                        {{tool.description}}
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">$13.99</h4>
                                        <span class="text-danger"><s>$20.99</s></span>
                                    </div>
                                    <h6 class="text-success">Free shipping</h6>
                                    <div class="d-flex flex-column mt-4">
                                       
                                        <a href="{%url 'tool_detail_for_anonymous_user' tool.id%}"><button class="btn btn-primary btn-sm" type="button">Details</button></a> 
                                        <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                                            Add to wishlist
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endfor%}

        {%endif%}

    </div>


    <div class="div-favolite mt-5" style="height: 30em; padding: 2px 2px 2px 5px ;">
        <h1>Signup To My Newsletter</h1>
        <span>
            By subscribing, you will get one email every month on tips,
            tutorials, and resources, to improve your skills as a developer.
            You'll also get early access to my courses and videos and also access to special bonus most of the time.
            No spam, unsubscribe at any time.
        </span>
        <form class="mt-3">
            <input class="form-control me-2 mb-2" type="email" placeholder="Your Email">
            <input class="form-control me-2 mb-2" type="text" placeholder="Your First name">
            <button class="btn btn-primary" type="button">Subscribe</button>
        </form>
    </div>
</div>
<div>
    <hr style="width: 278px; position: absolute; left: 0; top: 35em; border: 1px solid rgb(179, 179, 179);">
</div>
<div>
    <hr style="width: 970px; position: absolute; right: 0; top:auto; border: 1px solid rgb(179, 179, 179);">
</div>

<!-- <div class="container2">
    <div class="div-history">
        <h3>History</h3>
        <p> <a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a> </p>
        <p> <a href="">Temporibus, perferendis illo repellendus assumenda atque</a> </p>
        <p> <a href="">dolorum sint voluptas quisquam quam quasi accusantium</a> </p>
        <p><a href="">suscipit quae soluta doloribus voluptates</a> </p>
        <p> <a href="">ea enim provident consectetur</a> </p>
    </div>
    <div class="div-review" style="overflow: scroll;">
        <h3>Review </h3>
        {%if reviews %}
        {%for review in reviews%}
        <p> <a href=""><span class="reviewer-name">{{review.user}}</span> reviewed your tool <span
                    class="tool-name">{{review.tool}}</span> and gave it a <span class="rating">{{review.rating}}-star
                    rating</span></a></p>
        {%endfor%}
        {%else%}
        <p>no reviews</p>
        {%endif%}


    </div>
</div> -->



{% endblock %}