

{% block navi %}

<nav style="margin-top: 20px;">
    <ul class="menu">
        <li><a href="{% url 'home'%}">Home|</a></li>
        <li><a href="#">Tools|</a></li>
        <li><a href="#">Categories|</a></li>
        <li><a href="#">Tags|</a></li>
        <li><a href="#">Favorites|</a></li>
        <li><a href="#">My History|</a></li>
        <li><a href="#">Reviews|</a></li>
        <li><a href="#">User Profile|</a></li>
        <li><a href="#">Login/Logout|</a></li>
        <li><a href="#">Register</a></li>
    </ul>
</nav>
<hr class="divider">

{%endblock navi %}